[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
drf-spectacular = "*"
python-decouple = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
