[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
python-dotenv = "*"
drf-spectacular = "*"
coverage = "*"
python-decouple = "*"
psycopg2-binary = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
