<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
    <nav>
        <h1>Welcome To My "Blog-API"</h1>    
    </nav>

    <main>
    <h2>💻 This is in progress 💻</h2>

    <h2> How To Use :</h2>
    <h3>»» Navigate to &nbsp;<em>'/blog'</em>&nbsp; to create a post</h3>
    <h3>»» Navigate to &nbsp;<em>'/auth'</em>&nbsp; for authorization</h3>
</main>
</body>
</html>